.favorite-section {
    width: 100%;
    min-height: 80vh;    
    padding-top: 10px;
    background-color: #000;
    overflow: hidden;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
}

.empty-msg {
    color: #aaa;
    font-size: 1.2rem;
    margin-top: 40px;
    text-align: center;
}

@media (max-width: 1024px) {
    .favorite-section { padding: 20px; min-height: 80vh; }
}

@media (max-width: 480px) {
    .favorite-section { padding-left: 20px; min-height: 80vh; }
}