html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
 :root {
    --black: #090909;
    --dark: #111111;
    --card: #181818;
    --border: #2a2a2a;
    --gold: #f5c518;
    --gold-dim: #c9a112;
    --red: #e50914;
    --white: #f0f0f0;
    --gray: #888;
    --light-gray: #bbb;
  }